# Cache files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.coverage
**/.tox/
**/.nox/
**/.hypothesis/

# System files
.DS_Store

# Huge datasets
/data/datasets/song_lyrics.csv
/data/datasets/goemotions/test.csv
/data/datasets/goemotions/train.csv
/data/analyzed_lyrics.csv
/data/classified_lyrics.csv
/data/filtered_lyrics.csv
/data/sentiment_analyzed_lyrics.csv